.App {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 3em);  
  padding: 1.5em;
}

.App-content {
  max-width: 400px;
  text-align: center;
  font-size: 1.2em;
}